<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/book}">Quay lại trang list</a>
<p th:text="${messages}" style="color: red"></p>
<form action="/book/oder" method="post" th:object="${book}">
    <input type="hidden" th:field="*{id}">

    <label th:for="nameBook">nameBook</label>
    <input readonly th:field="*{nameBook}">

    <label th:for="content">content</label>
    <input readonly th:field="*{content}">
    <label th:for="amount">amount</label>
    <input readonly th:field="*{amount}">
    <label th:for="nameCode">nameCode</label>
<!--    <input readonly th:field="*{oder.nameCode}">-->
<!--    <select th:field="*{category}">-->
<!--        <option th:each="iteam : ${categoryList}" ${iteam.nameCategory==category.id?"selected":""}  th:text="${iteam.nameCategory}" th:value="${iteam.id}"></option>-->
<!--    </select>-->
    <input type="submit" th:value="luu">
</form>
</body>
</html>